## 1. Explain three-dimensional data indexing.

In [1]:
import numpy as np

<p>Consider below three dimentional array:</p>

In [11]:
a=np.array([[[0, 1],
           [2, 3]], ##-->sheet 0
           [[4, 5],
           [6, 7]]])##-->sheet 1

<p>then a[0][1][1]=3</p>
<p>Here we can consider first index as the '2x2' sheet which we want to access,then 2nd index as which row we want and finally 3rd index as which column we want to access</p>

## 2. What's the difference between a series and a dataframe?

<p>Pandas Series is One-dimensional while Pandas DataFrame is Two-dimensional</p>
<p>Series elements must be of the same data type i.e Homogenous.DataFrame elements can have different data types i.e Heterogenous.</p>
<p>Once created, the size of a Series object cannot be changed.Elements can be dropped or added in an existing DataFrame.</p>

## 3. What role does pandas play in data cleaning?

<p>It provides a rich set of functions to process various types of file formats from multiple data sources.
Pandas library makes it easier in reading data from different file formats and storing them.for example read_sql,read_json,read_csv,to_csv,to_json.
<p>It provides various graphs for visualization and functions to identify the null values and replace them with required values</p>
<p>Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series.</p>

## 4. How do you use pandas to make a data frame out of n-dimensional arrays?

We pass the numpy array as a data input to pd.DataFrame() along with index and column names to convert it into DataFrame

In [13]:
a=[[1,2],[3,4]]

In [14]:
import pandas as pd

In [16]:
pd.DataFrame(a,index=['a','b'],columns=[0,1])

   0  1
a  1  2
b  3  4

## 5. Explain the notion of pandas plotting.

<p>Pandas objects come equipped with their plotting functions. These plotting functions are essentially wrappers around the matplotlib library. We can consider matplotlib as a backend for pandas plots.</p>

<p>The Pandas Plot is a set of methods that can be used with a Pandas DataFrame, or a series, to plot various graphs from the data in that DataFrame. Pandas Plot simplifies the creation of graphs and plots, so you donâ€™t need to know the details of working with matplotlib.</p>

<p>Built-in visualization in pandas really shines in helping with fast and easy plotting of series and DataFrames.</p>